.Hamburger {
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 5rem;
    left: 5rem;
    background-color: #FFFFFF;
    border-radius: 100%;
    z-index: 20;
    cursor: pointer;
    transition: transform .2s;
}

.Hamburger div {
    display: inline-block;
    height: 1px;
    width: 4rem;
    background-color: #ff8080;
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
}

.Hamburger div::before,
.Hamburger div::after {
    content: '';
    display: inline-block;
    left: 0;
    height: 1px;
    width: 4rem;
    background-color: #ff8080;
    border-radius: 3rem;
    position: absolute;
    transition: top .2s .2s, transform .2s;
}

.Hamburger div::before {
    top: -1rem;
}

.Hamburger div::after {
    top: 1rem;
}

.Hamburger--clicked {
    position: fixed;
}

.Hamburger--clicked div {
    background-color: transparent;
}

.Hamburger--clicked div::before {
    top: 0;
    transform: rotate(135deg);
    transition: top .2s, transform .2s .2s;
}

.Hamburger--clicked div::after {
    top: 0;
    transform: rotate(-135deg);
    transition: top .2s, transform .2s .2s;
}

.Hamburger:hover {
    transform: rotate(180deg);
}